.stock-results {
    width: 100%;
    background-color: #a35f5f;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
}

.stock-result {
    padding: 10px 20px;
}

.stock-result:hover {
    background-color: #635075;
}